body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('https://i.imgur.com/lRMFz48.png') #B3DDF2;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: auto;
    height: 100%
}

.wrap { 
    height: 100%;
    position: relative;
    top: 0;
}
a { 
    color: #ff0000;
    text-decoration: none;
 }
header, article { margin: 50px; z-index: auto }

#words { position: relative; height: auto; z-index: 1 }
#goback { position: absolute; z-index: 3; margin: 0; padding: 0;  }
h1 {
    font-size:calc(32px + 10vw);
    letter-spacing: -0.1em;
    margin: 0;
    color: #fff;
    line-height: .8em;
}

h2 {
    font-size:calc(10px + 5vw);
    letter-spacing: -0.08em;
    margin: 0; margin-top: -3.5%;
}

p { 
    font-size:calc(8px + 2vw);
    line-height: 1.5em;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
    color: #fff;
    margin: 0;
}

.chicka-chickaaaaaaaaa {
    background: #000;
    padding-top: 3500px;
}

p.yeet_tweet { 
    position: absolute;
    font-size: calc(3px + 3vw); 
    z-index: 2;
    float: right;
    bottom: 0;
    right: 0;
    padding: 20px
}

iframe { 
    width: 100%; 
    height: calc(100vw/1.77);
    padding-top: 500px;

}


#gohome { 
    background: #000;
    padding-top: 1200px;
}

